<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navtainer"><div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#start"><strong>Justyna Miazga</strong></a>
  </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li><i class="fa fa-home fa-2x"></i></li>
        <li><a href="#obszar_dzialania">Obszar działania</a></li>
        <li><a href="#o_mnie">O mnie</a></li>
        <li><a href="#opinie_klientow">Opinie Klientów</a></li>
        <li><a href="#oferta">Oferta</a></li>
        <li><a href="#galeria">Galeria</a></li>
        <li><a href="#kontakt">Kontakt</a></li>
        <li><a href="#cennik">Cennik</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->   </div><!-- /.container-fluid --> </nav>
  </div>
</div>
<div class="container">
<section class="parasect" id="start" data-speed="6" data-type="background", class="container">
  <div class="jumbotron">

    <center><h1>Miazga Make Up</h1></center>
    <center><h2>Usługi Mobilne</h2></center>
      <div class="container">
        <center><div class="container"><a class="btn btn-primary btn-lg" href="http://justynamiazga.esy.es/?page_id=249">Umów się</a> <a class="btn btn-primary btn-lg" href="http://justynamiazga.esy.es/#2">Sprawdź mnie</a></div></center>
      </div>
  </div>
</section>
<!-- Section #1 -->
<section class="section1" id="obszar_dzialania" data-speed="6" data-type="background">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
  <h1 id = "tooltitle"> Obszar działania </h1>
  <div class="row">
    <div class="well col-sm-4 col-md-4">
      <h2>Convert</h2>
      <p>Convert to pastafarianism. Taste the Rainbow   </p>
      <p><a class="btn btn-success" href="#">View details </a></p>
    </div><!-- /.span4 -->
    <div class="well col-sm-4 col-md-4">
      <h2>Dance!</h2>
      <p>Disco all night!!! Boogie! </p>
      <p><a class="btn btn-success" href="#">View details </a></p>
    </div><!-- /.span4 -->
    <div class="well col-sm-4 col-md-4">
      <h2>Pie</h2>
      <p>YUM YUM YUM </p>
      <p><a class="btn btn-success" href="#">View details </a></p>
    </div><!-- /.span4 -->
  </div>
  <div class="row">
    <div class="text-center col-sm-4 col-md-4">
      <% image_tag"landingPage/desktop.png" %>
    </div>
    <div class="text-center col-sm-8 col-md-8">
    </div>
  </div>
      </div>
    </div>
  </div>
</section>

<!-- Section #2 -->
<section class="section2" id="o_mnie" data-speed="4" data-type="background">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
    <h1 id = "tooltitle"> O mnie </h1>


    <div class="row">
      <div class="well col-sm-4 col-md-4">
        <h2>Convert</h2>
        <p>Convert to pastafarianism. Taste the Rainbow   </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
      <div class="well col-sm-4 col-md-4">
        <h2>Dance!</h2>
        <p>Disco all night!!! Boogie! </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
      <div class="well col-sm-4 col-md-4">
        <h2>Pie</h2>
        <p>YUM YUM YUM </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
    </div>
  </div>
      </div>
  </div>
</section>

<!-- Section #3 -->
<section class="section3" id="opinie_klientow" data-speed="4" data-type="background">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="page-header">
    <h1 id = "tooltitle"> Opinie klientów </h1>
        </div>

    <div class="row">
      <div class="well col-sm-4 col-md-4">
        <h2>Convert</h2>
        <p>Convert to pastafarianism. Taste the Rainbow   </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
      <div class="well col-sm-4 col-md-4">
        <h2>Dance!</h2>
        <p>Disco all night!!! Boogie! </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
      <div class="well col-sm-4 col-md-4">
        <h2>Pie</h2>
        <p>YUM YUM YUM </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
    </div>
  </div>
    </div>
  </div>
</section>

<!-- Section #4 -->
<section class="section4" id="oferta" data-speed="2" data-type="background">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="page-header">
          <h1>Oferta</h1>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <h2>More Details</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
            <p><a class="btn btn-success">View details </a></p>
          </div><!-- /.span4 -->
          <div class="col-sm-4 col-md-4">
            <h2>Heading</h2>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="landingPage/check.png">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="landingPage/check.png">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="landingPage/check.png">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
              </div>
            </div>
          </div><!-- /.span4 -->
          <div class="col-sm-4 col-md-4">
            <h2>Log In</h2>
            <form class="form">
              <div class="form-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                  <input type="text" id="inputEmail" placeholder="Email" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                  <input type="password" id="inputPassword" placeholder="Password" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="controls">
                  <div class="checkbox"><label class="">
                    <input type="checkbox"> Remember me <br><br>
                  </label></div>
                  <button type="submit" class="btn btn-success">Sign in</button>
                </div>
              </div>
            </form>
          </div><!-- /.span4 -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section #5 -->
<section class="section5" id="galeria" data-speed="2" data-type="background">
  <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="page-header">
      <h1>Galeria</h1>
            </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <tbody>
        <% @images.each do |image| %>
            <tr>
              <td><%= image.admin_id %></td>
              <td><%= link_to 'Show', image %></td>
              <td><%= link_to 'Edit', edit_image_path(image) %></td>
              <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
        <h2>More Details</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p><a class="btn btn-success">View details </a></p>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Heading</h2>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Log In</h2>
        <form class="form">
          <div class="form-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <div class="checkbox"><label class="">
                <input type="checkbox"> Remember me <br><br>
              </label></div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </div>
          </div>
        </form>
      </div><!-- /.span4 -->
    </div>
  </div>
    </div>
  </div>
</section>

<!-- Section #6 -->
<section class="section6" id="kontakt" data-speed="2" data-type="background">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
    <div class="page-header">
      <h1>Pozostańmy w kontakcie</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <h2>More Details</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p><a class="btn btn-success">View details </a></p>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Heading</h2>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Log In</h2>
        <form class="form">
          <div class="form-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <div class="checkbox"><label class="">
                <input type="checkbox"> Remember me <br><br>
              </label></div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </div>
          </div>
        </form>
      </div><!-- /.span4 -->
    </div>
  </div>
    </div>
  </div>
</section>

<!-- Section #7 -->
<section class="section7" id="cennik" data-speed="2" data-type="background">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
    <div class="page-header">
      <h1>Cennik</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <h2>More Details</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p><a class="btn btn-success">View details </a></p>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Heading</h2>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Log In</h2>
        <form class="form">
          <div class="form-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <div class="checkbox"><label class="">
                <input type="checkbox"> Remember me <br><br>
              </label></div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </div>
          </div>
        </form>
      </div><!-- /.span4 -->
    </div>
  </div>
    </div>
  </div>
</section>

<div class="image">

</div>
<div class="content">
  <h1>
    Przykładowa treść strony
  </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pretium elit sit amet ullamcorper finibus. Suspendisse potenti. Duis nulla ipsum, blandit sed mauris maximus, luctus placerat est. Pellentesque dictum, eros sed dictum dictum, ante elit
    tincidunt justo, ut laoreet leo quam sodales justo. Sed diam felis, maximus dapibus vulputate iaculis, sollicitudin cursus erat. Suspendisse nec erat felis. Proin sit amet orci lacinia neque varius tempus ac sed mi. Duis suscipit est nec ex rhoncus,
    nec consectetur ante ultricies. Sed eget quam fringilla enim euismod pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum diam ligula, euismod ac scelerisque viverra, ultricies sagittis elit.
    Nullam a cursus nisi. Maecenas interdum metus ac libero sagittis bibendum. Mauris sed elit libero.</p>
  <p>
    Phasellus pellentesque scelerisque lacus, eget efficitur enim. Quisque sed mi volutpat, luctus purus nec, egestas tellus. Aliquam scelerisque elit eget metus consectetur, ac vehicula velit bibendum. Mauris eu tortor libero. In nec turpis nulla. Praesent
    sagittis et eros at semper. Sed venenatis diam ac nulla laoreet, at sagittis magna commodo. Praesent efficitur, nisl vel fringilla placerat, ex dui semper dui, vel scelerisque massa eros eu velit. Maecenas quis tellus rutrum, aliquam lorem eu, lobortis
    sem. Morbi lacinia nec ligula eu ornare. Maecenas id lacus sit amet tellus facilisis vulputate at eget nisl. Nulla pharetra consequat diam vitae varius. Aenean commodo augue vehicula magna faucibus porttitor. Proin rutrum urna felis, nec commodo diam
    consectetur ac. </p>
</div>

</div>
<!--<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel-footer">
</div>
  </div>
</div>-->
