
<div class="navbar navbar-inverse navbar-fixed-top" id="navtainer">
  <div class="container">
    <div class="container">
      <div class="navbar-header"> <a class="navbar-brand" href=""></a></div>

      <ul class="nav nav-pills nav-justified">
        <li><a href="#start"><img src="/uploads/system/JM_ICON/JM4.png"/></a></li>
        <li class="active"><a href="#obszar_dzialania">Obszar działania</a></li>
        <li><a href="#o_mnie">O mnie</a></li>
        <li><a href="#opinie_klientow">Opinie Klientów</a></li>
        <li><a href="#oferta">Oferta</a></li>
        <li><a href="#galeria">Galeria</a></li>
        <li><a href="#kontakt">Kontakt</a></li>
        <li><a href="#cennik">Cennik</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
<div <section class="parasect" id="start" data-speed="6" data-type="background", class="container">
  <div class="jumbotron">

    <center><h1>Miazga Make Up</h1></center>
    <center><h2>Usługi Mobilne</h2></center>
      <div class="container">
        <center><div class="container"><a class="btn btn-primary btn-lg" href="http://justynamiazga.esy.es/?page_id=249">Umów się</a> <a class="btn btn-primary btn-lg" href="http://justynamiazga.esy.es/#2">Sprawdź mnie</a></div></center>
      </div>
  </div>
</div>
</div>
</section>

<!-- Section #1 -->
<section class="parasect" id="obszar_dzialania" data-speed="6" data-type="background">
  <div class="container">
  <h1 id = "tooltitle"> Obszar działania </h1>
  <div class="row">
    <div class="well col-sm-4 col-md-4">
      <h2>Convert</h2>
      <p>Convert to pastafarianism. Taste the Rainbow   </p>
      <p><a class="btn btn-success" href="#">View details </a></p>
    </div><!-- /.span4 -->
    <div class="well col-sm-4 col-md-4">
      <h2>Dance!</h2>
      <p>Disco all night!!! Boogie! </p>
      <p><a class="btn btn-success" href="#">View details </a></p>
    </div><!-- /.span4 -->
    <div class="well col-sm-4 col-md-4">
      <h2>Pie</h2>
      <p>YUM YUM YUM </p>
      <p><a class="btn btn-success" href="#">View details </a></p>
    </div><!-- /.span4 -->
  </div>
  <div class="row">
    <div class="text-center col-sm-4 col-md-4">
      <% image_tag"landingPage/desktop.png" %>
    </div>
    <div class="text-center col-sm-8 col-md-8">
    </div>
  </div>


</section>

<!-- Section #2 -->
<section class="parasec" id="o_mnie" data-speed="4" data-type="background">
  <div class="container">

    <h1 id = "tooltitle"> O mnie </h1>


    <div class="row">
      <div class="well col-sm-4 col-md-4">
        <h2>Convert</h2>
        <p>Convert to pastafarianism. Taste the Rainbow   </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
      <div class="well col-sm-4 col-md-4">
        <h2>Dance!</h2>
        <p>Disco all night!!! Boogie! </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
      <div class="well col-sm-4 col-md-4">
        <h2>Pie</h2>
        <p>YUM YUM YUM </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
    </div>
  </div>
</section>

<!-- Section #3 -->
<section class="parasec" id="opinie_klientow" data-speed="4" data-type="background">
  <div class="container">

    <h1 id = "tooltitle"> Opinie klientów </h1>


    <div class="row">
      <div class="well col-sm-4 col-md-4">
        <h2>Convert</h2>
        <p>Convert to pastafarianism. Taste the Rainbow   </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
      <div class="well col-sm-4 col-md-4">
        <h2>Dance!</h2>
        <p>Disco all night!!! Boogie! </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
      <div class="well col-sm-4 col-md-4">
        <h2>Pie</h2>
        <p>YUM YUM YUM </p>
        <p><a class="btn btn-success" href="#">View details </a></p>
      </div><!-- /.span4 -->
    </div>
  </div>
</section>

<!-- Section #4 -->
<section class="parasec" id="oferta" data-speed="0" data-type="background">
  <div class="container">
    <h1 id = "tooltitle"> Oferta </h1>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <h2>More Details</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
      <p><a class="btn btn-success">View details </a></p>
    </div><!-- /.span4 -->
    <div class="col-sm-4 col-md-4">
      <h2>Heading</h2>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="landingPage/check.png">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="landingPage/check.png">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="landingPage/check.png">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
        </div>
      </div>
    </div><!-- /.span4 -->
    <div class="col-sm-4 col-md-4">
      <h2>Log In</h2>
      <form class="form">
        <div class="form-group">
          <label class="control-label" for="inputEmail">Email</label>
          <div class="controls">
            <input type="text" id="inputEmail" placeholder="Email" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="controls">
            <div class="checkbox"><label class="">
              <input type="checkbox"> Remember me <br><br>
            </label></div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </div>
        </div>
      </form>
    </div><!-- /.span4 -->
  </div>
      <p> In an effort to be green, our company uses special pants that convert twerking into electricity </p>

</section>

<!-- Section #5 -->
<section class="parasec" id="galeria" data-speed="2" data-type="background">
  <div class="container">
    <div class="page-header">
      <h1>Galeria</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <h2>More Details</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p><a class="btn btn-success">View details </a></p>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Heading</h2>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Log In</h2>
        <form class="form">
          <div class="form-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <div class="checkbox"><label class="">
                <input type="checkbox"> Remember me <br><br>
              </label></div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </div>
          </div>
        </form>
      </div><!-- /.span4 -->
    </div>
  </div>
</section>

<!-- Section #6 -->
<section class="parasec" id="kontakt" data-speed="2" data-type="background">
  <div class="container">
    <div class="page-header">
      <h1>Pozostańmy w kontakcie</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <h2>More Details</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p><a class="btn btn-success">View details </a></p>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Heading</h2>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Log In</h2>
        <form class="form">
          <div class="form-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <div class="checkbox"><label class="">
                <input type="checkbox"> Remember me <br><br>
              </label></div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </div>
          </div>
        </form>
      </div><!-- /.span4 -->
    </div>
  </div>
</section>

<!-- Section #7 -->
<section class="parasec" id="cennik" data-speed="2" data-type="background">
  <div class="container">
    <div class="page-header">
      <h1>Cennik</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <h2>More Details</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque cursus nisl consectetur et.</p>
        <p><a class="btn btn-success">View details </a></p>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Heading</h2>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="landingPage/check.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante.
          </div>
        </div>
      </div><!-- /.span4 -->
      <div class="col-sm-4 col-md-4">
        <h2>Log In</h2>
        <form class="form">
          <div class="form-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <div class="checkbox"><label class="">
                <input type="checkbox"> Remember me <br><br>
              </label></div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </div>
          </div>
        </form>
      </div><!-- /.span4 -->
    </div>
  </div>
</section>