/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require 'masonry/transitions'
 *= require_tree .
 */
@font-face {
  font-family: "Shadows Into Light Two";
  src: asset-url("shadowsintolighttwo-regular-webfont.eot") format('embedded-opentype'),
  asset-url("shadowsintolighttwo-regular-webfont.svg") format('svg'),
  asset-url("shadowsintolighttwo-regular-webfont.woff") format('woff'),
  asset-url("shadowsintolighttwo-regular-webfont.woff2") format('woff2'),
  asset-url("shadowsintolighttwo-regular-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-family: "Terminator Real NFI";
  src: asset-url("Terminator-Real-NFI-V2-V1.eot") format('embedded-opentype'),
  asset-url("Terminator-Real-NFI-V2-V1.svg") format('svg'),
  asset-url("Terminator-Real-NFI-V2-V1.woff") format('woff'),
  asset-url("Terminator-Real-NFI-V2-V1.woff2") format('woff2'),
  asset-url("Terminator-Real-NFI-V2-V1.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.jumbotron {
  margin-bottom: 10px;
  background-image: url(/uploads/system/jumbotron.jpeg);
  background-size: cover;
  background-attachment:fixed;
  background-position: 0% 7%;
  font-family: "Shadows Into Light Two";
  text-align: center;
}
.jumbotron h1 {
  font-family: "Terminator Real NFI";
  text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25);
  color: #57597c;
  font-size: 68px;
  font-weight: bold;
}
.jumbotron h2 {
  font-family: "Shadows Into Light Two";
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  font-size: 32px;
}
.container h1 {
  text-align: center;
  font-family: "Shadows Into Light Two" !important;
  text-shadow: 0 -1px 0 rgba(105, 107, 124, 3.9);
}