// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Thumbnail Box */
.caption h3 {
  text-align: center;
  font-size: 2.3rem;
  color: #444;
}

.caption p {
  text-align: center;
  font-size: 1.75rem;
  color: #920056;
}

.btn.btn-mini {
  font-size: 0.63rem;
}

/* Carousel Control */
.control-box {
  text-align: center;
  width: 100%;
}

.carousel-control {
  background: #920056;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 34px;
  font-weight: 200;
  line-height: 18px;
  opacity: 0.5;
  padding: 4px 10px 0px;
  position: static;
  height: 35px;
  width: 35px;
}