// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#price_list {
  text-align: center;
}
.column {
  margin-left: -15px;
  width: 278px;
  height: 100%;
  border: 0.5px solid #fff;
  text-align: center;
}
.column .name > h3 {
  font-family: 'Ubuntu Condensed';
  background: #2a2a2a;
  padding: 10px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
  margin-bottom: 0px;
}
.column .price {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  line-height: 20px;
  border: 5px solid #ff4a61;
  box-shadow: 3px 3px 5px gray inset, 0 0 1px black;
  font-family: 'Ubuntu Condensed';
  font-size: 1em;
  margin: 0 auto;
}
.column .description {
  list-style: none;
  padding: 0px;
  margin: 0 0 0 0;
  border-top: 1px dashed silver;
  border-bottom: 1px dashed silver;
  font-family: 'Ubuntu Condensed';
  color: #000;
  font-size: 1.5em;
  text-align: center;
}
.column .description li {
  padding: 7px;
  height: 40px;
  text-align: center;
  font-size: 0.8em;
}
.column .description li:nth-child(odd) {
  background: silver;
  text-align: center;
}
.column .description li:nth-child(even) {
  background: #eee;
}
.column .buy {
  background: #6bc900;
  background: -moz-linear-gradient(top, #6bc900 0%, #46af00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bc900), color-stop(100%,#46af00));
  background: -webkit-linear-gradient(top, #6bc900 0%,#46af00 100%);
  background: -o-linear-gradient(top, #6bc900 0%,#46af00 100%);
  background: -ms-linear-gradient(top, #6bc900 0%,#46af00 100%);
  background: linear-gradient(to bottom, #6bc900 0%,#46af00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bc900', endColorstr='#46af00',GradientType=0 );
  display: table;
  margin: 0 auto;
  padding: 4px;
  width: 100px;
  border: 1px solid gray;
  font-family: 'Ubuntu Condensed';
  cursor: pointer;
  box-shadow: 0 0 1px black;
  color: #fff;
  text-shadow: 0 0 3px #000;
  border: 1px solid #fff;
  font-size: 0.8em;
  text-align: center;
}

.column .buy:hover {
  background: #299a0b;
  background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#299a0b));
  background: -webkit-linear-gradient(top, #299a0b 0%,#299a0b 100%);
  background: -o-linear-gradient(top, #299a0b 0%,#299a0b 100%);
  background: -ms-linear-gradient(top, #299a0b 0%,#299a0b 100%);
  background: linear-gradient(to bottom, #299a0b 0%,#299a0b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 );
}