<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <% @images.each do |image| %>
  <%= image.admin_id %>
  <%= link_to image_tag(image.img.url(:original)), image.img.url %>
  <% end %>
</p>

<%= link_to 'Back', images_path %>
