<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @image.admin_id %>
  <%= link_to image_tag(@image.img.url(:original)), @image.img.url %>
</p>

<%= link_to 'Back', images_path %>
